*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    
 
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1 img{
    clip-path: circle();
}
.nav2 ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 2rem;
    font-size: 21px;
    color: purple;
    list-style-type: none;
}
.nav2 ul a{
    text-decoration: none;
    color: purple;
}
.sec2{
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-top: 70px;
    
}
.sec2i1{
    color: gray;
    width: 14%;
}
.sec2i1text{
    text-align: center;
}
.sec2i1 img:hover{
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: 1s;
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 90px;
}
.foot{
    display: flex;
    gap: 4rem;
    margin-left: 20px;
}
.foot1{
    width: 20%;
}
.foot3{
    width: 20%;
}
.foot4{
    width: 20%;
}
.foot2{
    width: 20%;
}
.foot2items ul{
    display: flex;
    gap: 3rem;

}
.foot2items ul li a i{
    color: white;
    text-decoration: none;

}
.foot2items ul li{
    list-style-type: none;
}
@media (max-width:600px){
    .sec2 img{
        width: 180px ;
        height: 260px;
    }
    .sec2i1text{
      margin-left: 70px;
      width: 20px;
      align-items: center;
      justify-content: center;
      display: inline-block;
      flex-wrap: wrap;
    }
    .sec2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 320px;
        margin-left: 35px

    }
    .foot{
        display: grid ;


 
    }
    .foot1{
        width: 350px;
        height: 100px;
    }
    .foot1 p{
        margin-bottom: 5px;
        padding: 0;
        font-size: 20px;


    }
    .foot3{
        width: 350px;
        height: 100px;
    }
    .foot4{
        width: 350px;
        height: 100px;
    }
    .foot2{
        width: 350px;
        height: 100px;
    }
    .foot2items ul{
        display: flex;
        gap: 3rem;
    
    }
    .foot2items ul li a i{
        color: white;
        text-decoration: none;
    
    }
    .foot2items ul li{
        list-style-type: none;
    }

   
}